body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    background-color: cornflowerblue;
}

h1{
    width: 960px;
    margin: auto;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 70px;
}

#section-username{
    width: 960px;;
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
}

#username-input{
    font-family: 'Courier New', Courier, monospace;
}

#password-input{
    font-family: 'Courier New', Courier, monospace;
}

#username-button{
    font-family: 'Courier New', Courier, monospace;
}

#message-list{
    list-style-type: none;
    margin: auto;
}

#section-send-message{
    width: 960px;
    margin: auto;
}

#send-message-input{
    width: 850px;
    font-family: 'Courier New', Courier, monospace;
}

#send-message-btn{
    width: 85px;
    font-family: 'Courier New', Courier, monospace;
}

#users-connected-list{
    list-style-type: none;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    overflow: auto;
    width: 200px;
    height: 600px;
    margin: auto;
    text-align: center;
}

#section-users-connected{
    float: left;
    margin-left: 50px;
}


#previous-users-list{
    width: 200px;
    list-style-type: none;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    height: 600px;
    text-align: center;
    overflow: auto;

}

#section-previous-users{
    float: left;
    padding-left: 20px;
}

#section-user-details{
    float: left;
    padding-left: 20px;
}

#message-list{
    overflow: auto;
    max-height: 600px;
    max-width: 800px;
    min-width: 800px;
    min-height: 600px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    
}

#section-messages{
    float: right;
    margin-right: 50px;
}

#section-send-message{
    float: right;
    margin-right: 50px;
    max-width: 800px;
    min-width: 800px;
}

#send-message-input{
    width: 100%;
}

