body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    background-color: cornflowerblue;
}

h1{
    width: 960px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
}

h2{
    text-align: center;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
}

#section-signup{
    text-align: center;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#signup-btn{
    font-family: 'Courier New', Courier, monospace;
}

#section-username{
    width: 960px;;
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
}

#username-input{
    font-family: 'Courier New', Courier, monospace;
}

#password-input{
    font-family: 'Courier New', Courier, monospace;
}

#username-button{
    font-family: 'Courier New', Courier, monospace;
}

#section-profile{
    font-family: 'Courier New', Courier, monospace;

}
#show-profile-btn{
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
}

#signout-btn{
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
}

#message-list{
    list-style-type: none;
    margin: auto;
}

#section-send-message{
    width: 960px;
    margin: auto;
}

#send-message-input{
    width: 850px;
    font-family: 'Courier New', Courier, monospace;
}

#send-message-btn{
    width: 85px;
    font-family: 'Courier New', Courier, monospace;
}

#users-connected-list{
    list-style-type: none;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    overflow: auto;
    width: 200px;
    height: 600px;
    margin: auto;
    text-align: center;
}

#section-users-connected{
    float: left;
    margin-left: 50px;
}


#previous-users-list{
    width: 200px;
    list-style-type: none;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    height: 600px;
    text-align: center;
    overflow: auto;

}

#section-previous-users{
    float: left;
    padding-left: 20px;
}

#section-user-details{
    float: left;
    padding-left: 20px;
}

#message-list{
    overflow: auto;
    max-height: 600px;
    max-width: 800px;
    min-width: 800px;
    min-height: 600px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    
}

#section-messages{
    float: right;
    margin-right: 50px;
}

#section-send-message{
    float: right;
    margin-right: 190px;
    max-width: 700px;
    min-width: 700px;
    font-family: 'Courier New', Courier, monospace;
}

#send-message-input{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

#send-message-btn{
    width: 10%;
    font-family: 'Courier New', Courier, monospace;
}

