<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>NodeJS Chatroom</title>
      <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    
    <h1>Chat Room</h1>
   
    <div id="section-username">
        <input id="username-input" type="text" placeholder="Username">
        <input id="password-input" type="text" placeholder="Password">
        <button id="username-button">Submit</button>
    </div>

    <div id="section-users-connected">
        <p>Users Connected Now</p>
        <ul id="users-connected-list"></ul>
    </div>
    <div id="section-previous-users">
        <p>All Users From Database</p>
        <ul id="previous-users-list"></ul>
    </div>

    <div id="section-user-details"></div>

    <div id="section-messages">
        <p>Chat Window</p>
        <ul id="message-list"></ul>
    </div>
    
    <div id="section-send-message">
        <input id="send-message-input" type="text">
        <button id="send-message-btn">Send</button>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/users.js"></script>
  </body>
</html>